node_modules

account.txt
session.json
.env
fb-chat-api.dev
obfcode.js
minify.js
backupOrigin.js
createVersion.js
createVersionAndCommit.js
checkOriginCodeChanged.js
*.zip
*.dev.*
*.rar
*test.*
*.test.*
test.js

database/data/*
!database/data/.gitkeep

scripts/cmds/tmp/*
!scripts/cmds/tmp/.gitkeep
scripts/cmds/assets/guide
!scripts/cmds/assets/guide/.gitkeep

scripts/events/tmp/*
scripts/events/data/leaveAttachment
scripts/events/data/welcomeAttachment
!scripts/events/tmp/.gitkeep

storage/logs/
storage/data/
logs/
*.audit.json
bot.log
bot_output.log
bot/neokex-ica/node_modules
bot/neokex-ica/dist
.aider*

tmp/
temp/
bin/
data/

